name: build

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main
      - stable/**

jobs:
  image:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ubuntu
            image-name: openstack-venv-builder-ubuntu
            from: ghcr.io/vexxhost/python-base-ubuntu:zed@sha256:e36b765bbf55d541b546a52b998cf480b41c734b560a30db95a912e138f74ac7
          - name: ubuntu-cloud-archive
            image-name: openstack-venv-builder-ubuntu-cloud-archive
            from: ghcr.io/vexxhost/python-base-ubuntu-cloud-archive:zed@sha256:33ad3debf1eaa7a4ad863d203d6acb3bc15fa711dcb158b88d2b90369cc842f2
          - name: ubuntu-cloud-archive-legacy
            image-name: openstack-venv-builder
            from: ghcr.io/vexxhost/python-base:zed@sha256:713846a8dc5c80d8bddaa67661480fb6c0de7570534db78989be6f800514e212
          - name: debian
            image-name: openstack-venv-builder-debian
            from: ghcr.io/vexxhost/python-base-debian:zed@sha256:15172c8ae5c53ef56ad26b1afccc9502a96a5c30d5945a5c5d82f53fa4eda792
          - name: rockylinux
            image-name: openstack-venv-builder-rockylinux
            from: ghcr.io/vexxhost/python-base-rockylinux:zed@sha256:1bda2e298ada2c903158b9d1ea91eaa971d1beb53500d03da971673a6dc025a8
          - name: almalinux
            image-name: openstack-venv-builder-almalinux
            from: ghcr.io/vexxhost/python-base-almalinux:zed@sha256:16d2e3ad14e82964a59154271f4b6047110fed5eb5ebc499a95b97d811046a9f
    permissions:
      contents: read
      id-token: write
      packages: write
      pull-requests: write
    steps:
      - uses: vexxhost/docker-atmosphere/.github/actions/checkout@main
        with:
          repository: openstack/requirements
          ref: ff29e00bc479f08cd603192157318604cc6c20ce # unmaintained/zed

      - uses: vexxhost/docker-atmosphere/.github/actions/build-image@main
        with:
          image-name: ${{ matrix.image-name }}
          build-contexts: requirements=openstack/requirements
          build-args: FROM=${{ matrix.from }}
          push: ${{ github.event_name != 'pull_request' }}
